body{
    background: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header.title{
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;
    
}
section.container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    padding: 15px;
    width: 500px;
    margin: auto;
}
div.box{
    text-align: center;
    padding: 8px;
}
footer.copy{
    text-align: center;
    color: white;
    font-style: italic;
    text-shadow: 1px 1px black;

} 
#imagem{
    width: 250px;
    border-radius: 50%;
}